<div
  id="full-page-banner-container"
  data-images={{ section.settings.imagelist | json }}
  data-title={{ section.settings.title | json }}
></div>

{% schema %}
{
	"name": "Full Page Banner (Slider)",
	"settings": [{
			"id": "title",
			"type": "text",
			"label": "Title"
		},
		{
			"id": "imagelist",
			"type": "textarea",
			"label": "Images",
			"info": "Enter up to three image URLs, separated by comma."
		}
	],
	"presets": [{
		"category": "React Section Banners",
		"name": "Full Page Banner",
		"settings": {
			"title": "Banner Text"
		}
	}]
}
{% endschema %}